/* -------------STYLE HOME.PHP  MOBILE FIRST MODELE IPHONE 4 ----------*/
/*---FONT---*/
@font-face {
    font-family: OpenSansRegular;
    src: url(../asset/font/OpenSansRegular.ttf);
}
html{
    font-family: OpenSansRegular;
}
/*---HEADER---*/

.mainConteiner {
    position: relative;
}

.header {
    position: static;
    width: 100%;
    height: 70px;
    border-top: 5px solid red;
    border-bottom: 10px solid lightgray;
}
.section {
    background-color: #EFEFEF;
}
.desktopMenu {
    display: none;
}
.blockLogo {
    width: 40%;
    margin: 5% 5% 5% 0;
    display: inline-block;
}

.headerIcon {
    position: relative;
    display: block;
    float: right;
    width: 15%;
    height: 50px;
    cursor: pointer;
}

.headerIcon:after {
    content: '';
    position: absolute;
    display: block;
    width: 1rem;
    height: 0;
    top: 16px;
    left: 15px;
    box-shadow: 0 10px 0 1px #000, 0 16px 0 1px #000, 0 22px 0 1px #000;
}

.menu {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background-color: #2a378b;
    width: 250px;
    transform: translateX(250px);
}

.menu a {
    display: block;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-bottom: 1px solid #303f9f;
}

.login {
    display: none;
}

/*---SECTION---*/

.title {
    display: inline-block;
    margin: 5% 5% 5% 5%;
    font-size: 2rem;
}

.article {
    display: inline-block;
    width: 90%;
    margin: 5% 5% 5% 5%;
    font-size: 1.3rem;
    line-height: 1.2rem;
    border: 1px solid #000000;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 15px rgb(100,100,100);
    color: #000000;
}
.article:hover {
    background-color: #EFEFEF;
}
a.article {
    text-decoration: none;
}

.blockText {
    margin: 5% 5% 5% 5%;
}

/*---FOOTER---*/
.footer {
    font-size: 0.8rem;
    text-align: center;
    width: 100%;
    height: 50px;
}


/*---STYLE INDEX REGISTRATION---*/

.blockForm{
    border-bottom: 2px solid #ff0000;
    box-shadow: 0 0 15px rgb(100,100,100);
    width: 80%;
    margin: 10% 1% 1% 8%;
}

.registerForm{
    font-size: 1rem;
    margin-left: 2%;
}
.field {
    margin-bottom: 2%;
}
.desktopMenu {
    display: none;
}

/*---STYLE CREATE ARTICLE---*/

.form {
    display: inline-block;
    width: 90%;
    margin: 5% 5% 5% 5%;
    font-size: 1.3rem;
    line-height: 1.2rem;
    border: 1px solid #000000;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 15px rgb(100,100,100);
    color: #000000;
}
.marginForm {
    margin-left: 2%;
}
.textArea {
    width: 80%;
    height: 4rem;
}
.createArticle {
    font-size: 1rem;
    text-align: center;
}
.dateSize {
    font-size: 1rem;
}
@media screen and (min-width: 641px) {

    /* -------------STYLE HOME.PHP  MOBILE FIRST MODELE IPAD ----------*/
    /*---HEADER---*/
    .mainConteiner {
        position: relative;
    }

    .header {
        position: static;
        width: 100%;
        height: 100px;
    }

    .blockLogo {
        width: 40%;
        margin: 5% 5% 5% 0;
        display: inline-block;
    }

    .headerIcon {
        position: relative;
        display: block;
        float: right;
        width: 20%;
        height: 50px;
        cursor: pointer;
    }

    .headerIcon:after {
        content: '';
        position: absolute;
        display: block;
        width: 2.5rem;
        height: 0;
        top: 60px;
        left: 65px;
        box-shadow: 0 -8px 0 2px #000, 0 7px 0 2px #000, 0 22px 0 2px #000;
    }

    .menu {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        background-color: #2a378b;
        width: 250px;
        transform: translateX(250px);
    }

    .menu a {
        display: block;
        height: 40px;
        text-align: center;
        line-height: 40px;
        border-bottom: 1px solid #303f9f;
    }

    .login {
        display: none;
    }

    /*---SECTION---*/
    .title {
        display: inline-block;
        margin: 5% 5% 5% 5%;
        font-size: 2.4rem
    }

    .article {
        display: inline-block;
        width: 90%;
        margin: 5% 5% 5% 5%;
        font-size: 1.4rem;
        line-height: 1.8rem;
    }

    .blockText {
        margin: 5% 5% 5% 5%;
    }

    /*---FOOTER---*/
    .footer {
        font-size: 1rem;
        text-align: center;
        width: 100%;
        height: 50px;
    }
/*<<<<<<< HEAD

    /*---STYLE INDEX REGISTRATION---*/

    .blockForm{
        border-bottom: 6px solid #ff0000;
        box-shadow: 0 0 30px rgb(100,100,100);
        width: 80%;
        margin: 10% 1% 1% 8%;
    }

    .registerForm{
        font-size: 2rem;
        text-align: center;
    }

    .field{
        font-size: 1.5rem;
        margin-bottom: 1%;
    }
    .desktopMenu {
        display: none;
    }
/*=======*/
    /*---STYLE CREATE ARTICLE---*/
    .form {
        text-align: center;
        display: inline-block;
        width: 90%;
        margin: 10% 5% 5% 5%;
        font-size: 1.3rem;
        line-height: 1.2rem;
        border: 1px solid #000000;
        border-radius: 10px;
        background-color: #FFFFFF;
        box-shadow: 0px 0px 15px rgb(100,100,100);
        color: #000000;
    }
    .marginForm {
        text-align: center;
    }
    .textArea {
        width: 80%;
        height: 12rem;
        margin-bottom: 2%;
    }
    .createArticle {
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 2%;
        margin-top: 2%;
    }
    .dateSize {
        font-size: 1.3rem;
        display: inline-block;
    }
}
@media screen and (min-width: 1025px) {

    /*    1025p Desktop Version    */

    /*  HEADER  */

    .blockLogo {
        height: auto;
        margin: 0 5% 5% 0;
    }

    .blockLogo img{
        height: 100px;

    }

    .headerIcon{
        display: none;
    }

    .menu {
        display: none;
    }

    .login {
        display: none;
    }

    /*Le menu est pour le moment laissé sur la droite, en attendant les élèments que l'on souhaite rajouter sur la page*/

    /*---SECTION---*/
    .title {
        display: inline-block;
        margin: 3% 3% 3% 3%;
        font-size: 2.7rem;
    }

    .article {
        display: inline-block;
        width: 90%;
        margin: 2% 3% 2% 3%;
        font-size: 2.0rem;
        line-height: 2.0rem;
        text-align: justify;
    }

    .blockText {
        margin: 2% 3% 2% 3%;
    }

    /*---STYLE INDEX REGISTRATION---*/

    .blockForm{
        border-bottom: 6px solid #ff0000;
        box-shadow: 0 0 30px rgb(100,100,100);
        width: 80%;
        margin: 10% 1% 1% 8%;
    }

    .registerForm{
        font-size: 2rem;
        text-align: center;
    }

    .field{
        font-size: 1.5rem;
        margin-bottom: 1%;
    }
    .desktopMenu {
        display: inline-block;
        font-size: 2rem;
        float: right;
        margin-top: 3%;
    }
    .desktopMenu a {
        text-decoration: none;
        color: #000000;
    }
    .desktopMenu a:hover {
        text-decoration: none;
        color: gray;
    }
    .menu {
        display: none;
    }
    .blockLogo {
        float: left;
    }
    /*---STYLE CREATE ARTICLE---*/
    .form {
        text-align: center;
        display: inline-block;
        width: 90%;
        margin: 5% 5% 5% 5%;
        font-size: 1.3rem;
        line-height: 1.2rem;
        border: 1px solid #000000;
        border-radius: 10px;
        background-color: #FFFFFF;
        box-shadow: 0px 0px 15px rgb(100,100,100);
        color: #000000;
    }
    .marginForm {
        text-align: center;
    }
    .textArea {
        width: 80%;
        height: 18rem;
        margin-bottom: 2%;
    }
    .createArticle {
        font-size: 2.5rem;
        text-align: center;
        margin-bottom: 2%;
        margin-top: 2%;
    }
    .dateSize {
        font-size: 1.5rem;
        display: inline-block;
    }
}
@media screen and (min-width: 1441px) {
    .blockLogo {
        height: auto;
        margin: 0 5% 5% 0;
    }

    .blockLogo img{
        height: 100px;

    }

    .headerIcon{
        display: none;
    }

    .menu {
        display: none;
    }

    .login {
        display: none;
    }
    .desktopMenu {
        display: inline-block;
        font-size: 2rem;
        float: right;
        margin-top: 2%;
        margin-right: 5%;
        word-spacing: 2rem;
    }
    .desktopMenu a {
        text-decoration: none;
        color: #000000;
    }
    .desktopMenu a:hover {
        text-decoration: none;
        color: gray;
    }

    /*---SECTION---*/
    .title {
        display: inline-block;
        margin: 3% 3% 3% 3%;
        font-size: 2.7rem;
    }

    .article {
        display: inline-block;
        width: 90%;
        margin: 2% 3% 2% 3%;
        font-size: 2.0rem;
        line-height: 2.0rem;
        text-align: justify;
    }

    .blockText {
        margin: 2% 3% 2% 3%;
    }
    /*---STYLE CREATE ARTICLE---*/
    .form {
        text-align: center;
        display: inline-block;
        width: 90%;
        height: 60rem;
        margin: 2% 5% 5% 5%;
        font-size: 1.3rem;
        line-height: 1.2rem;
        border: 1px solid #000000;
        border-radius: 10px;
        background-color: #FFFFFF;
        box-shadow: 0px 0px 15px rgb(100,100,100);
        color: #000000;
    }
    .marginForm {
        text-align: center;
    }
    .textArea {
        width: 80%;
        height: 60%;
        margin-bottom: 2%;
        font-size: 1.3rem;
    }
    .createArticle {
        font-size: 2.5rem;
        text-align: center;
        margin-bottom: 2%;
        margin-top: 2%;
    }
    .dateSize {
        font-size: 1.5rem;
        display: inline-block;
    }
    .titleSize {
        width: 25%;
        height: 4%;
        font-size: 2rem;
    }
}

